<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Coffee Tasting Journal</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <button (click)="onOpenModal(null, 'add')" type="button" class="btn btn-primary-rgba" data-bs-toggle="modal" data-bs-target="#addCoffeeModal">Add a journal</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container" id="main-container">
<div class="row">
    <!-- Start col -->
    <div *ngFor="let coffee of coffees" class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body py-5">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <img src="#" class="img-fluid mb-3" alt="user" />
                    </div>
                    <div class="col-lg-9">
                        <h4>{{ coffee?.name }}</h4>
                        <p>{{ coffee?.roaster }}</p>
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">Roast Date :</th>
                                        <td class="p-1">{{ coffee?.roastDate }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Variety :</th>
                                        <td class="p-1">{{ coffee?.variety }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Process :</th>
                                        <td class="p-1">{{ coffee?.process }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Brew Method :</th>
                                        <td class="p-1">{{ coffee?.brewMethod }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="p-1">Rating :</th>
                                      <td class="p-1">{{ coffee?.rating }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="p-1">Note :</th>
                                      <td class="p-1">{{ coffee?.notes }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="button-list mt-4 mb-3">
                          <button (click)="onOpenModal(coffee, 'delete')" type="button" data-bs-toggle="modal" data-bs-target="#deleteCoffeeModal" class="btn btn-primary-rgba"><i class="feather icon-message-square mr-2"></i>Delete</button>
                          <button (click)="onOpenModal(coffee, 'update')" type="button" data-bs-toggle="modal" data-bs-target="#updateCoffeeModal" class="btn btn-success-rgba"><i class="feather icon-phone mr-2"></i>Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End col -->
</div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addCoffeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form ngForm #addForm="ngForm" (ngSubmit)="onAddCoffee(addForm.value)" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a journal entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="inputName" class="form-label">Name/Origin</label>
          <input type="text" class="form-control" id="name" name="name" ngModel>
        </div>
        <div class="mb-3">
          <label for="inputRoaster" class="form-label">Roaser</label>
          <input type="text" class="form-control" id="roaster" name="roaster" ngModel>
        </div>
        <div class="mb-3">
          <label for="inputRoastDate" class="form-label">Roast Date</label>
          <input type="date" class="form-control" id="roastDate" name="roastDate" ngModel>
        </div>
        <div class="mb-3">
          <label for="inputRoastDate" class="form-label">Variety</label>
          <input type="text" class="form-control" id="variety" name="variety" ngModel>
        </div>
        <div class="mb-3">
          <label for="inputProcess" class="form-label">Process</label>
          <input type="text" class="form-control" id="process" name="process" ngModel>
        </div>
        <div class="mb-3">
          <label for="inputBrewMethod" class="form-label">Brew Method</label>
          <input type="text" class="form-control" id="brewMethod" name="brewMethod" ngModel>
        </div>
        <div class="mb-3">
          <label for="inputRating" class="form-label">Rating</label>
          <select class="form-select" id="rating" name="rating" ngModel>
            <option selected>Open this select menu</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
            <option value="3">6</option>
            <option value="3">7</option>
            <option value="3">8</option>
            <option value="3">9</option>
            <option value="3">10</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="textareaNotes" class="form-label">Notes</label>
          <textarea class="form-control" id="notes" rows="3" name="notes" ngModel></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateCoffeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteCoffeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
