<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img class="logo" src="../assets/img/coffee_2.png" alt="coffee logo"/>
    Coffee Tasting Journal
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <button (click)="onOpenModal('add')" type="button" class="btn btn-primary-rgba" data-bs-toggle="modal" data-bs-target="#addCoffeeModal">Add a journal</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input 
      (ngModelChange)="onSearchCoffees(key.value)" 
      #key="ngModel" 
      ngModel 
      class="form-control mr-sm-2 search-input" 
      type="search" 
      placeholder="Search"
      name="search"
      id="searchMatched"
      required>
    </form>
  </div>
</nav>

<div class="container" id="main-container">
<div class="row">
    <!-- Start col -->
    <div *ngFor="let c of coffees" class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body py-5">
                <div class="row">
                    <div class="text-center">
                        <radar-chart [coffee]="c"></radar-chart>
                    </div>
                    <div>
                        <h4>{{ c?.name }}</h4>
                        <p>{{ c?.roaster }}</p>
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="p-1">Roast Date :</th>
                                        <td class="p-1">{{ c?.roastDate }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Variety :</th>
                                        <td class="p-1">{{ c?.variety }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Process :</th>
                                        <td class="p-1">{{ c?.process }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Brew Method :</th>
                                        <td class="p-1">{{ c?.brewMethod }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="p-1">Rating :</th>
                                      <td class="p-1">{{ c?.rating }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="p-1">Note :</th>
                                      <td class="p-1">{{ c?.notes }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="button-list mt-4 mb-3">
                          <button (click)="onOpenModal('delete', c)" type="button" data-bs-toggle="modal" data-bs-target="#deleteCoffeeModal" class="btn btn-primary-rgba"><i class="feather icon-message-square mr-2"></i>Delete</button>
                          <button (click)="onOpenModal('update', c)" type="button" data-bs-toggle="modal" data-bs-target="#updateCoffeeModal" class="btn btn-success-rgba"><i class="feather icon-phone mr-2"></i>Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End col -->
</div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addCoffeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form ngForm #addForm="ngForm" (ngSubmit)="onAddCoffee(addForm)" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a journal entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="body-left">
          <div class="mb-3">
            <label for="inputName" class="form-label">Name/Origin</label>
            <input type="text" class="form-control" id="name" name="name" ngModel required>
          </div>
          <div class="mb-3">
            <label for="inputRoaster" class="form-label">Roaser</label>
            <input type="text" class="form-control" id="roaster" name="roaster" ngModel required>
          </div>
          <div class="mb-3">
            <label for="inputRoastDate" class="form-label">Roast Date</label>
            <input type="date" class="form-control" id="roastDate" name="roastDate" ngModel>
          </div>
          <div class="mb-3">
            <label for="inputRoastDate" class="form-label">Variety</label>
            <input type="text" class="form-control" id="variety" name="variety" ngModel>
          </div>
          <div class="mb-3">
            <label for="inputProcess" class="form-label">Process</label>
            <input type="text" class="form-control" id="process" name="process" ngModel>
          </div>
          <div class="mb-3">
            <label for="inputBrewMethod" class="form-label">Brew Method</label>
            <input type="text" class="form-control" id="brewMethod" name="brewMethod" ngModel>
          </div>
          <div class="mb-3">
            <label for="inputRating" class="form-label">Rating</label>
            <select class="form-select" id="rating" name="rating" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
        </div>
        <div class="body-middle">
          <div class="mb-3">
            <label for="inputAcidic" class="form-label">Acidic</label>
            <select class="form-select" id="acidic" name="acidic" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputFloral" class="form-label">Floral</label>
            <select class="form-select" id="floral" name="floral" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputSpicy" class="form-label">Spicy</label>
            <select class="form-select" id="spicy" name="spicy" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputBerryfriut" class="form-label">Berryfriut</label>
            <select class="form-select" id="berryfriut" name="berryfriut" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputCitrusfruit" class="form-label">Citrusfruit</label>
            <select class="form-select" id="citrusfruit" name="citrusfruit" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputStonefruit" class="form-label">Stonefruit</label>
            <select class="form-select" id="stonefruit" name="stonefruit" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputChocolate" class="form-label">Chocolate</label>
            <select class="form-select" id="chocolate" name="chocolate" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
        </div>
        <div class="body-right">
          <div class="mb-3">
            <label for="inputCaramel" class="form-label">Caramel</label>
            <select class="form-select" id="caramel" name="caramel" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputSmoky" class="form-label">Smoky</label>
            <select class="form-select" id="smoky" name="smoky" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputBitter" class="form-label">Bitter</label>
            <select class="form-select" id="bitter" name="bitter" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputSavory" class="form-label">Savory</label>
            <select class="form-select" id="savory" name="savory" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputBody" class="form-label">Body</label>
            <select class="form-select" id="body" name="body" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputClean" class="form-label">Clean</label>
            <select class="form-select" id="clean" name="clean" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputLinger" class="form-label">Linger</label>
            <select class="form-select" id="linger" name="linger" ngModel>
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                >{{ num }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="body-notes">
        <label for="textareaNotes" class="form-label">Notes</label>
        <textarea class="form-control" id="notes" rows="3" name="notes" ngModel></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateCoffeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form ngForm #updateForm="ngForm" (ngSubmit)="onUpdateCoffee(updateForm)" class="modal-content">
      <input type="hidden" name="id" class="form-control" id="id" ngModel="{{coffeeToUpdate?.id}}">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update a journal entry for {{coffeeToUpdate?.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="body-left">
          <div class="mb-3">
            <label for="inputName" class="form-label">Name/Origin</label>
            <input type="text" class="form-control" id="name" name="name" ngModel="{{coffeeToUpdate?.name}}" required>
          </div>
          <div class="mb-3">
            <label for="inputRoaster" class="form-label">Roaser</label>
            <input type="text" class="form-control" id="roaster" name="roaster" ngModel="{{coffeeToUpdate?.roaster}}" required>
          </div>
          <div class="mb-3">
            <label for="inputRoastDate" class="form-label">Roast Date</label>
            <input type="date" class="form-control" id="roastDate" name="roastDate" ngModel="{{coffeeToUpdate?.roastDate}}">
          </div>
          <div class="mb-3">
            <label for="inputRoastDate" class="form-label">Variety</label>
            <input type="text" class="form-control" id="variety" name="variety" ngModel="{{coffeeToUpdate?.variety}}">
          </div>
          <div class="mb-3">
            <label for="inputProcess" class="form-label">Process</label>
            <input type="text" class="form-control" id="process" name="process" ngModel="{{coffeeToUpdate?.process}}">
          </div>
          <div class="mb-3">
            <label for="inputBrewMethod" class="form-label">Brew Method</label>
            <input type="text" class="form-control" id="brewMethod" name="brewMethod" ngModel="{{coffeeToUpdate?.brewMethod}}">
          </div>
          <div class="mb-3">
            <label for="inputRating" class="form-label">Rating</label>
            <select class="form-select" id="rating" name="rating" ngModel="{{coffeeToUpdate?.rating}}">
              <option>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.rating"
                >{{ num }}</option>
            </select>
          </div>
        </div>
        <div class="body-middle">
          <div class="mb-3">
            <label for="inputAcidic" class="form-label">Acidic</label>
            <select class="form-select" id="acidic" name="acidic" ngModel="{{coffeeToUpdate?.taste?.acidic}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.acidic"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputFloral" class="form-label">Floral</label>
            <select class="form-select" id="floral" name="floral" ngModel="{{coffeeToUpdate?.taste?.floral}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.floral"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputSpicy" class="form-label">Spicy</label>
            <select class="form-select" id="spicy" name="spicy" ngModel="{{coffeeToUpdate?.taste?.spicy}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.spicy"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputBerryfriut" class="form-label">Berryfriut</label>
            <select class="form-select" id="berryfriut" name="berryfriut" ngModel="{{coffeeToUpdate?.taste?.berryfriut}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.berryfriut"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputCitrusfruit" class="form-label">Citrusfruit</label>
            <select class="form-select" id="citrusfruit" name="citrusfruit" ngModel="{{coffeeToUpdate?.taste?.citrusfruit}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.citrusfruit"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputStonefruit" class="form-label">Stonefruit</label>
            <select class="form-select" id="stonefruit" name="stonefruit" ngModel="{{coffeeToUpdate?.taste?.stonefruit}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.stonefruit"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputChocolate" class="form-label">Chocolate</label>
            <select class="form-select" id="chocolate" name="chocolate" ngModel="{{coffeeToUpdate?.taste?.chocolate}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.chocolate"
                >{{ num }}</option>
            </select>
          </div>
        </div>
        <div class="body-right">
          <div class="mb-3">
            <label for="inputCaramel" class="form-label">Caramel</label>
            <select class="form-select" id="caramel" name="caramel" ngModel="{{coffeeToUpdate?.taste?.caramel}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.caramel"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputSmoky" class="form-label">Smoky</label>
            <select class="form-select" id="smoky" name="smoky" ngModel="{{coffeeToUpdate?.taste?.smoky}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.smoky"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputBitter" class="form-label">Bitter</label>
            <select class="form-select" id="bitter" name="bitter" ngModel="{{coffeeToUpdate?.taste?.bitter}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.bitter"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputSavory" class="form-label">Savory</label>
            <select class="form-select" id="savory" name="savory" ngModel="{{coffeeToUpdate?.taste?.savory}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.savory"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputBody" class="form-label">Body</label>
            <select class="form-select" id="body" name="body" ngModel="{{coffeeToUpdate?.taste?.body}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.body"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputClean" class="form-label">Clean</label>
            <select class="form-select" id="clean" name="clean" ngModel="{{coffeeToUpdate?.taste?.clean}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.clean"
                >{{ num }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputLinger" class="form-label">Linger</label>
            <select class="form-select" id="linger" name="linger" ngModel="{{coffeeToUpdate?.taste?.linger}}">
              <option selected>Open this select menu</option>
              <option 
                *ngFor="let num of evaluationRange"
                value="{{ num }}"
                [selected]="num === coffeeToUpdate?.taste?.linger"
                >{{ num }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="body-notes">
        <label for="textareaNotes" class="form-label">Notes</label>
        <textarea class="form-control" id="notes" rows="3" name="notes" ngModel="{{coffeeToUpdate?.notes}}"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="editModalCloseButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteCoffeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the entry for {{coffeeToDelete?.name}}?
      </div>
      <form (ngSubmit)="onDeleteCoffee(coffeeToDelete?.id!)" class="modal-footer">
        <button type="button" id="deleteModalCloseButton" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Yes, delete</button>
      </form>
    </div>
  </div>
</div>
